[Unit]
Description=gunicorn service for fruit-info app
After=network.target

[Service]
User=amuni
Group=amuni
EnvironmentFile=/home/amuni/.env
WorkingDirectory=/home/amuni/my_applications/fruit-info-ai
Environment="Path=/home/amuni/my_applications/fruit-info-ai/venv/bin"
ExecStart=/home/amuni/my_applications/fruit-info-ai/venv/bin/gunicorn -w 4 --worker-class=gevent -b 0.0.0.0:5000 fruit_info.wsgi:application

[Install]
WantedBy=multi-user.target
